<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Digit To Text Converter</title>

    <!--LIB-->    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <!--SRC-->
    <script src="assets/js/src/main.js"></script>
    <!--controllers-->
    <script src="assets/js/src/controllers/mainCtrl.js"></script>
    <!--services-->
    <script src="assets/js/src/services/converterService.js"></script>
    <script src="assets/js/src/tests/ConverterUnitTest.js"></script>

</head>
<body ng-app="DigitConverterApp">
    <h1>Digit To Text Converter</h1>
    <div ng-controller="mainCtrl" ng-init="init()">
        <label>Digit to convert</label>
        <input type="text" ng-model="myNumber" placeholder="Enter your number">
        <input type="button" value="Convert" ng-click="convertDigit()" />
        <hr />
        <label>Your Digit: </label>
        <h2>{{selectedNumber}}</h2>
        <br />
        <label>Digit Converted To Text:</label>
        <h2>{{myConvertedNumber}}!</h2>
        <hr />
        <a href="Tests.html" target="_blank"><h2>View Tests</h2></a>
    </div>
</body>
</html>
